.general_info {
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.pad_section {
  padding: 10px;
}

.gi-info_width {
  width: 30%;
}

.quote_info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}